<div class="card">
  <h2>Create Post</h2>
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  <form action="/post/create" method="POST">
    <input type="text" id="type" name="type" value="text" hidden>
    <div>
      <label for="content">Content</label>
      <textarea id="content" name="content" required></textarea>
    </div>
    <div>
      <button type="submit" class="btn">Create Post</button>
    </div>
  </form>
</div>