{{#if session_user}}
  {{#unless session_user.email_verified}}
    <div id="email-verification-notice" class="notification-bar">
      <div class="banner-content">
        <span class="banner-message">Your email is not verified.</span>
        <div class="banner-actions">
          <a href="/auth/verify-email" class="btn btn-sm">Verify Email</a>
        </div>
      </div>
    </div>
  {{/unless}}
{{/if}} 