{{#if session_user}}
  {{#unless session_user.email_verified}}
    <div id="email-verification-notice" class="notification-bar">
      <div class="banner-content">
        <span class="banner-message">{{t "banner.email_not_verified"}}</span>
        <div class="banner-actions">
          <a href="/auth/verify-email" class="btn btn-sm">{{t "banner.verify_email"}}</a>
        </div>
      </div>
    </div>
  {{/unless}}
{{/if}} 