<li class="comment-item">
  <a class="comment-username-link" href="/@{{comment.username}}"><strong>{{comment.username}}</strong></a>: {{comment.content}}
  <span class="comment-meta-inline">({{localDate comment.created_at}})</span>
</li> 