<div class="card post">
  <p>{{post.content}}</p>
  <p><small>Posted on: {{localDate post.created_at}}
    {{#if (neq post.created_at post.updated_at)}}
      (edited)
    {{/if}}
  </small></p>
</div>