<div class="card">
  {{#if posts.length}}
    <h2>Posts by {{user.username}}</h2>
  {{else}}
    <h2>{{user.username}} has no posts.</h2>
  {{/if}}
  <div class="posts-container">
    {{#each posts}}
      {{>post post=this}}
    {{/each}}

    {{#unless posts.length}}
      <p>No posts available.</p>
    {{/unless}}
  </div>
</div>